% import x

<div id="{{user['_key']}}" class="user grid grid-cols-3">
    <form id="user_{{user['_key']}}">
        <input name="username" value="{{user['username']}}" 
        mix-check="{{x.USER_USERNAME_REGEX}}" mix-blur mix-put="/users/{{user['_key']}}" mix-data="#user_{{user['_key']}}"> 
        <input name="user_email" value="{{user['user_email']}}" 
        mix-check="{{x.EMAIL_REGEX}}" mix-blur mix-put="/users/{{user['_key']}}" mix-data="#user_{{user['_key']}}">
    </form>
    <button
    mix-put="/users/unblock/{{user['_key']}}"
    mix-data="#user_{{user['_key']}}"
    mix-default="Unblock"
    mix-await="Unblocking...">
    Unblock
    </button>
</div>