%include("_header")

<main class="flex items-center justify-center h-screen">
    <div class="m-4 w-1/2 mx-auto">
        <h1>Forgot password</h1>
        <!-- todo: needs backend validation -->
        <form id="frm_forgot_password">
            <p>To reset your password please enter your email</p>
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email" required >
            </div>
            <div>
                <!-- submit might break it, we will see... -->
                <button type="submit" mix-post="/forgot-password" mix-data="#frm_forgot_password" mix-default="forgot password" mix-await="Please wait...">Send email</button>
            </div>
            <a href="/login">Remembered your password? Login here!</a>
        </form>
    </div>
</main>

%include("_footer")