%include("_header")

<main class="flex items-center justify-center h-screen">
    <div class="m-4 w-1/2 mx-auto">
        <h1>New password</h1>
        <!-- todo: needs backend validation -->
        <form id="frm_reset_password">
            <p>Please enter your new password</p>
            <div>
                <label for="password">New Password:</label>
                <input type="password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must contain at least one number, one uppercase and lowercase letter, and at least 8 or more characters">
            </div>
            <div>
                <label for="password">Confirm new Password:</label>
                <input type="password" name="confirm_password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must contain at least one number, one uppercase and lowercase letter, and at least 8 or more characters">
            </div>
            <div>
                <!-- submit might break it, we will see... -->
                <button type="submit" mix-put="/reset-password/{{user['_key']}}" mix-data="#frm_reset_password" mix-default="reset password" mix-await="Please wait...">Reset Password</button>
            </div>
            <p id ="error-message"></p>
            <p id ="success-message"></p>
        </form>
        <a href="/login">Once you have reset your password login here!</a>
    </div>
</main>

%include("_footer")