% include("_header", title=title)
<main class="max-w-screen-md lg:max-w-6xl my-0 mx-auto pb-10">
    <section>
        <h1 class="text-3xl font-medium py-3">
            {{ item['item_name'] }}
        </h1>
        <div class="block w-full gap-4 pb-8">
            <img src="/images/{{item['item_splash_image']}}" 
            class="w-full h-96 aspect-square object-cover rounded-lg">
        </div>
    </section>
    <section class="lg:flex lg:gap-12">
        <div class="flex flex-col lg:w-3/5">
            <div class="py-8 border-b border-neutral-200">
                <h2 class="text-2xl font-medium">
                    {{ item['_key'] }}
                </h2>
                <p class="text-lg font-light">2 guests - 1 bedroom - 2 beds - 1 bath</p>
            </div>
            <div class="py-8 border-b border-neutral-200">
                <p class="font-semibold">Hosted by Dat Guy</p>
                <p class="font-light">Reggaeton artist</p>
            </div>
            <span class="flex items-center gap-1 text-2xl py-8 border-b border-neutral-200">
                {{ item['item_stars'] }}
                <!-- Star icons code here -->
            </span>
            <article class="py-8 border-b border-neutral-200">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                <!-- Description here -->
            </article>
        </div>
        <aside class="flex flex-col items-center lg:w-2/5 bg-neutral-100 rounded-lg p-8 h-fit">
            <span class="flex font-bold text-2xl">
                % price = int(item["item_price_per_night"])
                % price = "{:,.0f}".format(price).replace(",", ".")
                {{ price }} DKK
                <p class="pl-2 font-normal">pr. nat</p>
            </span>
            <p class="pb-6 font-light text-lg">Closes May 16, 8:59 AM</p>
            <button class="mb-4">
                Block
            </button>
            <form class ="mt-4" action="/toggle_booking" method="post">
                <input type="hidden" name="item_id" value="{{ item['_key'] }}">
                <button type="submit">{{ 'Unbook' if item.get('is_booked') else 'Book' }}</button>
            </form>
        </aside>
    </section>
</main>
% include("_footer")

